.container {
    display: flex;
}

.product-container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 100px 50px;
}

.cart-container {
    width: 20%;
    background-color: rgb(188, 245, 245);
    margin-right: 50px;
    border-radius: 10px;
}



@media screen and (max-width: 640px) {
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .cart-container {
        width: 100%;
    }

    .container {
        flex-direction: column-reverse;
    }

    .produts {
        width: 100%;
        height: auto;
    }

    .produts img {
        display: inline-block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
  }